@using DemirbasTakipSistemi.Models.DataModel
@model Project
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<div class="card-body">
    <div class="basic-elements">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Proje Güncelle</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            @*<form action="~/Project/ProductAdd" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <label class="col-lg-3 control-label">Proje Kodu</label>
                                            <div class="col-lg-9">

                                               <input type="text" class="form-control"  name="ProjectCode" value="@Model.ProjectCode" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Seri Numarası </label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="ProductSerialNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Marka</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="ProductBrand">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Model</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="ProductModel">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Müşteri</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="ProductProvider">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Miktar</label>
                                            <div class="col-lg-9">
                                                <input type="number" class="form-control" name="ProductAmount">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Proje Başlangıç Tarihi</label>
                                            <div class="col-lg-9">
                                                <input type="date" class="form-control" name="ProductWarrantyStartDate">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Proje Bitiş Tarihi</label>
                                            <div class="col-lg-9">
                                                <input type="date" class="form-control" name="ProductWarrantyFinishDate">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a asp-controller="Project" asp-action="Products" type="submit" class="btn btn-danger" style="width:150px">
                                            Listeye Dön
                                        </a>
                                        <button class="btn btn-primary" type="submit"> Ekle </button>

                                    </div>

                                </div>
                            </form>*@
                            
                            <form method="post" class="form-horizontal" asp-action="ProductAdd">
                                <div class="row">
                                    <div class="col-lg-4">
                                        
                                        <div class="form-group">
                                            <label>Proje Kodu</label>
                                            <input class="form-control" name="ProjectCode" type="text" placeholder="Marka giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Demirbaş Sorumlusu</label>
                                            <select class="form-control" name="PersonID">
                                               @* @foreach (var item in Model.People)
                                                {
                                                    
                                                    if ( item.isEnabled)
                                                    {
                                                        <option name="data" value="@item.PersonID">@item.PersonName</option>
                                                    }
                                                }*@
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Adedi</label>
                                            <input type="number" class="form-control" name="ProductAmount" placeholder="Adet giriniz..." min="0">
                                        </div>
                                        <div class="form-group">
                                            <span>Ürün Fotoğrafı:</span>
                                             <input type="file" name="postedFiles" multiple />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Marka</label>
                                            <input class="form-control" name="ProductBrand" type="text" placeholder="Marka giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Model</label>
                                            <input class="form-control" name="ProductModel" type="text" placeholder="Marka giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Demirbaş Kategori</label>
                                            <select class="form-control" name="CategoryID">
                                               @* @foreach (var item in Model.Categories)
                                                {
                                                    if ( item.isEnabled)
                                                    {
                                                        <option name="data" value="@item.CategoryID">@item.CategoryName</option>
                                                    }
                                                }*@
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Seri Numarası</label>
                                            <input class="form-control" name="ProductSerialNumber" type="text" placeholder="Marka giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Özellikler/Açıklama</label>
                                            <textarea class="form-control" rows="3" name="ProductFeatures" placeholder="Açıklama giriniz..."></textarea>
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Servis İletişim</label>
                                            <input class="form-control" type="text" name="ServiceContact" placeholder="İletişim bilgisi giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Ürün Dağıtıcısı</label>
                                            <input class="form-control" name="ProductProvider" type="text" placeholder="Marka giriniz...">
                                        </div>

                                        <div class="form-group">
                                            <label>Garanti Başlangıç Tarihi</label>
                                            <input class="form-control" name="ProductWarrantyStartDate" type="date">
                                        </div>
                                        <div class="form-group">
                                            <label>Garanti Bitiş Tarihi</label>
                                            <input class="form-control" name="ProductWarrantyFinishDate" type="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a asp-controller="Product" asp-action="ProductList" class="btn btn-danger" style="width:150px">
                                            Listeye Dön
                                        </a>
                                        <button class="btn btn-primary" type="submit" > Ekle </button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <!-- /# column -->
        </div>
    </div>
</div>
<script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>

<script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<!-- bootstrap -->
<!-- scripit init-->
