@using DemirbasTakipSistemi.Models.DataModel
@model Project
@{
    ViewBag.Title = "ProjectUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<div class="card-body">
    <div class="basic-elements">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Proje Güncelle</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form action="~/Project/ProjectUpdate" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            
                                            <input type="hidden" class="form-control" name="Id" value="@Model.Id">
                                
                                            <label class="col-lg-3 control-label">Proje Kodu</label>
                                            <div class="col-lg-9">
                                               
                                                <input required maxlength="255" type="text" class="form-control" value="@Model.ProjectCode" minlength=1 name="ProjectCode" oninvalid="this.setCustomValidity('Proje kodu boş geçilemez.')" oninput="setCustomValidity('')"/>
                                                @*
                                                <input type="text" class="form-control"  name="ProjectCode" value="@Model.ProjectCode">*@
                                            </div>
                                        </div>
                                       
                                              <div class="form-group">
                                            <label class="col-lg-3 control-label">Proje Müşterisi </label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" value="@Model.ProjectClient" name="ProjectClient">
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-lg-6">

                                       <div class="form-group">
                                            <label class="col-lg-3 control-label">Proje Adı</label>
                                            <div class="col-lg-9">
                                                <input required maxlength="255" type="text" class="form-control" value="@Model.ProjectName" minlength=1 name="ProjectName" oninvalid="this.setCustomValidity('Proje adı boş geçilemez.')" oninput="setCustomValidity('')"/>
                                                @*
                                                <input type="text" class="form-control" value="@Model.ProjectName"  name="ProjectName">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Proje Tarihi</label>
                                            <div class="col-lg-9">
                                                <input type="date" class="form-control" value="@Model.ProjectStartDate.Date.ToString("yyyy-MM-dd")"autocomplete="off"  name="ProjectStartDate">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Durum</label>
                                            <div class="col-lg-9">
                                                  <select class="form-control" name="ProjectStatus">
                                                   @if(@Model.ProjectStatus=="Aktif" )
                                                    {
                                                        <option  value="Aktif" selected>Aktif</option>
                                                         <option  value="Pasif" >Pasif</option> 
                                                    }
                                                    else
                                                    {
                                                         <option  value="Pasif" selected>Pasif</option> 
                                                         <option  value="Aktif">Aktif</option>
                                                    }
                                                  
                                              }
                                            </select>
                                            </div>
                                        </div>

                                        
                                        </div>
                                        
                                </div>
                                 <div class="row">
                                    <div class="col-lg-6">
                                        <a asp-controller="Project" asp-action="ProjectList" type="submit" class="btn btn-danger" style="width:150px">
                                            Listeye Dön
                                        </a>
                                        <button class="btn btn-primary" type="submit"> Güncelle </button>
                                        
                                    </div>
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <!-- /# column -->
        </div>
    </div>
</div>
<script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>

<script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<!-- bootstrap -->
<!-- scripit init-->

