@using DemirbasTakipSistemi.Models.DataModel
@model List<Login>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1 style="color:green">Hesap Ayarları</h1>
<br />

<div class="col-lg-12">
    <h4 style="color:green">Genel Ayarlar</h4>

    <form action="~/Setting/UsernamePasswordUpdate" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-group-right" type="submit"> Kullanıcı Adı ve Şifre Değiştir </button>
            </div>
        </div>
    </form>
</div>



<div class="col-lg-12">

    <h4 style="color:green">Admin Ayarları</h4>

    <!-- Styles -->
    <link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/Content/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet">


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-06 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h5>Kullanıcı Listesi</h5>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-10 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">   <button class="btn-flat  btn-success  ti-plus" onclick="location.href='@Url.Action("UserAdd", "Setting", new {code = "", prev = 2})';return false;"> EKLE</button></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->

                </div>

                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="ti-list"></th>
                                                    <th>Kullanıcı Adı</th>
                                                    <th>Kullanıcı Rolü</th>
                                                    <th>İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {

                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Username</td>
                                        @if (item.RoleId == 1)
                                            {<td>Admin</td>  }
                                        else
                                             {<td>User</td>}
                                        <td>
                                            <button class="btn-flat  btn-warning ti-pencil" onclick="location.href='@Url.Action("UserUpdate", "Setting",new{id=@item.Id})';return false;"></button>
                                            <button class="btn-flat  btn-danger ti-trash" onclick="location.href='@Url.Action("UserDelete", "Setting",new{id=@item.Id})';return false;"></button>
                                        </td>
                                    </tr>}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                </section>
            </div>
        </div>

        <!-- scripit init-->
        <script src="~/Content/assets/js/lib/data-table/datatables.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
        <script src="~/Content/assets/js/lib/sweetalert/sweetalert.min.js"></script>
        <script src="~/Content/assets/js/lib/sweetalert/sweetalert.init.js"></script>

        <script src="~/Content/assets/js/lib/data-table/buttons.flash.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/jszip.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/pdfmake.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/vfs_fonts.js"></script>
        <script src="~/Content/assets/js/lib/data-table/buttons.html5.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/buttons.print.min.js"></script>
        <script src="~/Content/assets/js/lib/data-table/datatables-init.js"></script>

    </div>
</div>