@using DemirbasTakipSistemi.Models.ViewModel
@model PeopleAndCategoryViewModel
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<div class="card-body" style="font-size:15px; font-style:normal; color:black">
    <div class="basic-elements">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Yeni Demirbaş</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form method="post" action="~/Product/ProductAdd" method="post" class="form-horizontal" enctype="multipart/form-data"  id="confirmationForm" name="confirmationForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="hidden" class="form-control" name="product.previous" value="@Model.Prev" >
                                

                                        <div class="form-group">
                                            <label>Proje Kodu</label>
                                            @*<input class="form-control" name="ProjectCode" type="text" placeholder="Proje Kodu giriniz...">*@
                                            <select class="form-control" style="font-size:13px" name="product.ProjectCode">
                                                <option name="data" value="" selected></option>
                                                @foreach (var item in Model.Projects)
                                                {

                                                    if (item.isEnabled)
                                                    {
                                                        <option name="data" value="@item.ProjectCode">@item.ProjectCode</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Demirbaş Sorumlusu</label>
                                            <select class="form-control" style="font-size:13px" name="product.PersonID">
                                                @foreach (var item in Model.People)
                                                {

                                                    if (item.isEnabled)
                                                    {
                                                        <option name="data" value="@item.PersonID">@item.PersonName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Adedi</label>
                                            <input required type="number" min="0" style="font-size:13px" maxlength="255" class="form-control" placeholder="Adet giriniz..." minlength=1 name="product.ProductAmount" oninvalid="this.setCustomValidity('Adet boş geçilemez.')" oninput="setCustomValidity('')"/>
                                            @*<input type="number" class="form-control" name="ProductAmount" placeholder="Adet giriniz..." min="0">*@
                                        </div>
                                        <div class="form-group">
                                            <dl>
                                                <dt>
                                                    <label for="ProductImage">Image</label>
                                                </dt>
                                                <dd>
                                                    <input type="file" style="font-size:13px" name="ProductImage" accept="image/png, image/gif, image/jpeg" id="fileName1" onchange="validateFileType()"/>
                                                    <script type="text/javascript">
                                                    function validateFileType(){
                                                        var fileName = document.getElementById("fileName1").value;
                                                        var idxDot = fileName.lastIndexOf(".") + 1;
                                                        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                                                        if ( !( extFile=="jpg" || extFile=="jpeg" || extFile=="png" || extFile=="gif")){{
                                                            alert("Eklenen dosya .png, .jpg, .jpeg veya .gif olmalı");
                                                        }   
                                                    }
                                                </script>
                                                </dd>
                                            </dl>
                                            @*<span>Ürün Fotoğrafı:</span>
                                                <label class="control-label"  name="ProductFile"></label>
                                                <div class="custom-file">
                                                    <input name="ProductFile" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="ProductFile">Ürün fotoğrafı yükle</label>
                                                </div>
                                                    <span asp-validation-for="@Model.Item1.ProductFile" class="text-danger"></span>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Marka</label>
                                            <input class="form-control" style="font-size:13px" name="product.ProductBrand" type="text" placeholder="Marka giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Model</label>
                                            <input class="form-control" style="font-size:13px" name="product.ProductModel" type="text" placeholder="Model giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <label>Demirbaş Kategori</label>
                                            <select class="form-control" style="font-size:13px" name="product.CategoryID">
                                                @foreach (var item in Model.Categories)
                                                {
                                                    if (item.isEnabled)
                                                    {
                                                        <option name="data" value="@item.CategoryID">@item.CategoryName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Seri Numarası</label>
                                                <input required maxlength="255" type="text" style="font-size:13px" class="form-control" placeholder="Seri Numarası giriniz..." minlength=1 name="product.ProductSerialNumber" oninvalid="this.setCustomValidity('Seri numarası boş geçilemez.')" oninput="setCustomValidity('')"/>
                                            @*<input class="form-control" name="ProductSerialNumber" type="text" placeholder="Seri Numarası giriniz...">*@
                                        </div>
                                        <div class="form-group">
                                            <label>Özellikler/Açıklama</label>
                                            <textarea class="form-control" rows="3" style="height:80px;font-size:13px"  name="product.ProductFeatures" form="confirmationForm" placeholder="Açıklama giriniz..."></textarea>
                                        </div>

                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Servis İletişim</label>
                                                <input class="form-control" type="tel" style="font-size:13px" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="product.ServiceContact" placeholder="123-456-7890">
                                            </div>
                                        <div class="form-group">
                                            <label>Ürün Dağıtıcısı</label>
                                            <input class="form-control" style="font-size:13px" name="product.ProductProvider" type="text" placeholder="Ürün Dağıtıcısı giriniz...">
                                        </div>

                                        <div class="form-group">
                                            <label>Garanti Başlangıç Tarihi</label>
                                            <input class="form-control"style="font-size:13px" name="product.ProductWarrantyStartDate" type="date">
                                        </div>
                                        <div class="form-group">
                                            <label>Garanti Bitiş Tarihi</label>
                                            <input class="form-control" style="font-size:13px" name="product.ProductWarrantyFinishDate" type="date">

                                        </div>
                                        @*<br /><br /><br /><br />*@
                                        <div class="" style="text-align:right;">
                                          
                                            <a asp-controller="Product" asp-action="ProductList" class="btn btn-danger" style="width:150px; font-size:15px">
                                                Listeye Dön
                                            </a>
                                                <button class="btn btn-primary" type="submit" style="font-size:15px"> Ekle </button>

                                            
                                        </div>

                                    </div>

                                </div>
                                   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <!-- /# column -->
        </div>
    </div>
</div>
<script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>
<script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<!-- bootstrap -->
<!-- scripit init-->
